$white:   #FFFFFF;
$vino:    #9A0F0F;
$black:   #000000;
$beige:   #EFE2AB;
$arena:   #C5B693;
$rojoInt: #A90000;
$beige2:  #D9C9A4;
$gray900: #060606;
$beige3:  #B1A383;
$rojoMed: #CD1212;
$pastelama: #FFFEEA;

$radius: 14px;
$shadow: 0 6px 20px rgba(0,0,0,.08);